@{
    ViewData["Title"] = "Home Page";
}

<head>
@*<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />*@
</head>

<h1>BUSCADOR DE LIBROS</h1>


<body>
    <form method="post">
        <div>
            <input type="text" name="autor" placeholder="Autor">
            <br />
            <input type="text" name="titulo" placeholder="Título">
            <br />
            <input type="text" name="descripcion" placeholder="Descripción">
            <br />
        </div>
       <br />
        <div>
            <input type="submit" value="Buscar">
        </div>
       
    </form>

    <table>
        <tr>
            <th>Título</th>
            <th>Autor</th>
            <!-- Agregar más columnas según las propiedades de la clase LIBROS -->
        </tr>


        @foreach (var libro in ViewBag.Libros)
        {
            <tr>
                <td>@libro.VolumeInfo.Title</td>

                @foreach (var autor in libro.VolumeInfo.Authors)
                {
                    <td>@autor</td>
                }

                <!-- Mostrar más propiedades del libro según las propiedades de la clase LIBROS -->
            </tr>
        }

    </table>

@*    <script>src = ""~/css/site.js "</script>*@

</body>

