@{
    ViewData["Title"] = "Home Page";
}

<head>

</head>

<h1>BUSCADOR DE LIBROS</h1>


<body>
    <form method="post">
        <div>
            <input type="text" name="autor" placeholder="Autor">
            <br />
            <input type="text" name="titulo" placeholder="Título">
            <br />
            <input type="text" name="descripcion" placeholder="Descripción">
            <br />
        </div>
       <br />
        <div>
            <input type="submit" value="Buscar">
        </div>
       
    </form>
    <br />

    @try
    {
    <table>
        <tr>
            <th>Título</th>
            <th>Autor</th>
           
        </tr>

      
         @foreach (var libro in ViewBag.Libros)
        {
            <tr>
                <td>@libro.VolumeInfo.Title</td>

                @foreach (var autor in libro.VolumeInfo.Authors)
                {
                    <td>@autor</td>
                }

                
            </tr>
        }
       
       

    </table>

        }
        catch (NullReferenceException)
        {

        }

</body>

